@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Overpass', monospace;
  font-size: 44px;
  font-weight: 900;
  line-height: 120%;
  padding-left: 3%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#map {
  height: 80vh;
}

.gm-style-iw-d {
  font-family: 'Overpass', monospace;
  font-size: 16px;
  font-weight: 700;
  padding-left: 14px;
  padding-top: 2px;
}

@media only screen and (max-width: 680px) {
  h1 {
    text-align: center;
    font-size: 40px;
  }
}
